version: "3.9"

services:
  api-gateway:
    build: ./api-gateway
    ports:
      - "8080:8080"

  auth-service:
    build: ./auth-service
    expose:
      - "3000"

  user-service:
    build: ./user-service
    expose:
      - "3001"

  order-service:
    build: ./order-service
    expose:
      - "3002"
